@page
@model Your_New_Favorite_Poem.Pages.AddPoetModel
@{
    ViewData["Title"] = "Add a Poet";
}
<body>
    <section class="morphDiv">
        <h1 style="text-align:center;" > New Poem </h1>
        <form method="post" asp-page="AddPoet">
            <section class="PoemName">
                <label for="PoemName">Poem Title</label>
                <input type="text" name="poemName" id="poemName">
            </section>
            <section>
                <label for="AuthorName">Author</label>
                <input id="authorName" type="text" name="authorName">
            </section>
            <section class="PoemUrl">
                <label for="PoemUrl">Poem URL</label>
                <input type="text" name="poemUrl" id="poemUrl">
            </section>
            <section class="PictureUrl">
                <label for="PictureUrl">Image of Poet URL</label>
                <input type="text" name="pictureUrl" id="pictureUrl">
            </section>
            <section class="PictureAltText">
                <label for="PictureAltText">Picture Description</label>
                <input type="text" name="pictureAltText" id="pictureAltText">
            </section>
            <section class="Bio">
                <label for="Bio">Author Biography</label>
                <textarea type="text" name="bio" id="bio"></textarea>
            </section>
            <section>
                <input type="submit" value=@Model.SubmissionResult asp-page-handler="Submit" id="submission">
            </section>
        </form>
    </section>
</body>
