@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <title>Your New Favorite Poem</title>
</head>

<div class="text-center">
    <h1 class="display-2">Welcome to your new Favorite Poem</h1>
</div>

<p>
    This website is a place to discover new poets, the type of poets you wouldn't necessarily find in your English class.
    They're worthy of a look and especially worthy of supporting.
</p>

<nav>
    <!-- fullist of poets-->
    <ul>
        <li><a href="#Ocean Vuong">Ocean Vuong</a></li>
        <li><a href="#Layli Long Soldier">Layli Long Soldier</a></li>
        <li><a href="#Mary Oliver"> Mary Oliver</a></li>
        <li><a href="#Terrance Hayes">Terrance Hayes</a></li>
        <li><a href="#Shay Alexi">Shay Alexi</a></li>
        <li><a href="#Marci Calabretta Cancio-Bello">Marci Calabretta Cancio-Bello</a></li>
        <li><a href="#Martín Espada">Martín Espada</a></li>
    </ul>
</nav>

<!--Ocean Vuong Poems-->
<section class="poets" id="Ocean Vuong">
    <h2>Ocean Vuong Poems</h2>
    <ul>
        <li><a href="https://www.poetryinvoice.com/poems/someday-ill-love-ocean-vuong" target="_blank">"Someday I'll Love Ocean Vuong"</a></li>
        <li><a href="https://www.triquarterly.org/issues/issue-146/untitled-blue-green-brown-oil-canvas-mark-rothko-1952" target="_blank">"Untitled (Blue, Green, & Brown)"</a></li>
    </ul>
</section>

<!-- Layli Long Soldier Poems-->
<section class="poets" id="Layli Long Soldier">
    <h2>Layli Long Soldier</h2>
    <ul>
        <li><a href="https://onbeing.org/poetry/38/" target="_blank">"38"</a></li>
        <li><a href="https://www.poetryfoundation.org/poems/149976/obligations-2" target="_blank">"Obligations 2"</a></li>
    </ul>
</section>

<!-- Mary Oliver Poems-->
<section class="poets" id="Mary Oliver">
    <h2>Mary Oliver</h2>
    <ul>
        <li><a href="https://wordsfortheyear.com/2015/06/21/the-summer-day-by-mary-oliver/" target="_blank">"The Summer Day"</a></li>
        <li><a href="http://www.phys.unm.edu/~tw/fas/yits/archive/oliver_wildgeese.html" target="_blank">"Wild Geese"</a></li>
    </ul>
</section>

<!--Terrance Hayes Poems-->
<section class="poets" id="Terrance Hayes">
    <h2>Terrance Hayes</h2>
    <ul>
        <li>
            <a href="https://www.poetryfoundation.org/poetrymagazine/poems/143917/american-sonnet-for-my-past-and-future-assassin-598dc83c976f1" target="_blank">
                "American Sonnet for My Past and Future Assassin
                [“I lock you in an American sonnet that is part prison”]"
            </a>
        </li>
        <li>
            <a href="https://rhymings.com/terrance-hayes/probably-ghosts-are-allergic-to-us-our-uproarious/" target="_blank">
                "American Sonnet for my Past and Future Assassin
                [“Probably, Ghosts Are Allergic To Us. Our Uproarious]”"
            </a>
        </li>
    </ul>
</section>

<!--Shay Alexi Poems-->
<section class="poets" id="Shay Alexi">
    <h2>Shay Alexi</h2>
    <ul>
        <li><a href="http://www.glass-poetry.com/journal/2018/may/alexi-john.html" target="_blank">"John Mayer's 'Your Body is a Wonderland' is Kinda Gross But"</a></li>
        <li><a href="https://tinderboxpoetry.com/our-mother-is-a-nightwitch-or-an-ode-to-femme-friendship" target="_blank">"OUR MOTHER IS A NIGHTWITCH OR AN ODE TO FEMME FRIENDSHIP"</a></li>
    </ul>
</section>

<!-- Marci Calabretta Cancio-Bello-->
<section class="poets" id="Marci Calabretta Cancio-Bello">
    <h2> Marci Calabretta Cancio-Bello </h2>
    <ul>
        <li><a href="https://poets.org/poem/animal-garden-my-body" target="_blank">"In the Animal Garden of My Body"</a></li>
        <li><a href="https://www.tupeloquarterly.com/vase-of-ashes-by-marci-calabretta-cancio-bello/" target="_blank">"Vase of Ashes"</a></li>
    </ul>
</section>

<!--Martín Espada-->
<section class="poets" id="Martín Espada">
    <h2>Martín Espada</h2>
    <ul>
        <li><a href="https://poets.org/poem/flowers-and-bullets" target="_blank">:Flowers and Bullets"</a></li>
        <li><a href="https://poets.org/poem/how-we-could-have-lived-or-died-way" target="_blank">"How We Could Have Lived or Died This Way"</a></li>
    </ul>
</section>