@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <title>Your New Favorite Poem</title>
</head>

<div class="text-center">
    <h1 class="display-2">Welcome to your new Favorite Poem</h1>
</div>

<p>
    This website is a place to discover new poets, the type of poets you wouldn't necessarily find in your English class.
    They're worthy of a look and especially worthy of supporting.
</p>

<nav>
    <ul>
        <li><a href="#Ocean Vuong">Ocean Vuong</a></li>
        <li><a href="#Layli Long Soldier">Layli Long Soldier</a></li>
        <li><a href="#Mary Oliver"> Mary Oliver</a></li>
    </ul>
</nav>


<div id="Ocean Vuong">
    <h2>Ocean Vuong Poems</h2>
    <ul>
        <li><a href="https://www.poetryinvoice.com/poems/someday-ill-love-ocean-vuong" target="_blank">"Someday I'll Love Ocean Vuong"</a></li>
        <li><a href="https://www.triquarterly.org/issues/issue-146/untitled-blue-green-brown-oil-canvas-mark-rothko-1952" target="_blank">"Untitled (Blue, Green, & Brown)"</a></li>
    </ul>
</div>


<div id="Layli Long Soldier">
    <h2>Layli Long Soldier</h2>
    <ul>
        <li><a href="https://onbeing.org/poetry/38/" target="_blank">"38"</a></li>
        <li><a href="https://www.poetryfoundation.org/poems/149976/obligations-2" target="_blank">"Obligations 2"</a></li>
    </ul>
</div>

<div id="Mary Oliver">
    <h2>Mary Oliver</h2>
    <ul>
        <li><a href="https://wordsfortheyear.com/2015/06/21/the-summer-day-by-mary-oliver/" target="_blank">"The Summer Day"</a></li>
        <li><a href="http://www.phys.unm.edu/~tw/fas/yits/archive/oliver_wildgeese.html" target="_blank">"Wild Geese"</a></li>
    </ul>
</div>