@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <title>Your New Favorite Poem</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <section class="text-center" id="Banner">
        <h1 class="display-2">Welcome to Your New Favorite Poem</h1>


        <p>
            This website is a place to discover new poets, the type of poets you wouldn't necessarily find in your English class.
            They're worthy of a look and especially worthy of supporting.
        </p>
        <p>You can find the source code <a href="https://github.com/MetzinAround/Your-New-Favorite-Poem" target="_blank">here!</a></p>

    </section>


    <div class="buttonmove">
        <form method="post" asp-page="Index">
            <input class="button" type="submit" value="Read Random Poem" asp-page-handler="RandomPoem" formtarget="_blank" />
        </form>
    </div>
    <!--Index page as a single foreach loop-->

    @foreach (var author in @Model.AuthorsFromDatabase)
    {

        <section class="poets">
            <h2>@author.Name Poems</h2>
            <br />
            <ul>
                @foreach (var poem in author.Poems)
                {

                    <li><a href=@poem.URL target="_blank">@poem.Title</a></li>
                }
            </ul>
        </section>


        <section class="authorPicture">
            <img src=@author.PictureURL alt-text= @author.PictureAltText />
        </section>
    }
</body>