@page
@model Your_New_Favorite_Poem.Pages.PoetsModel
@{
    ViewData["Title"] = "Poets";
}

<h1>Poets</h1>
<p> List of all currently featured poets on the page! </p>
<nav>
    <!-- fullist of poets-->
    <ul>
        @foreach (var author in Your_New_Favorite_Poem.Constants.PoetsConstants.PoemList.Select(x => x.Author).Distinct())
        {

            <li><a asp-area="" asp-page="/Index" asp-fragment=@author>@author</a></li>

        }
    </ul>
</nav>
