@page
@model Your_New_Favorite_Poem.Pages.PoetsModel
@{
    ViewData["Title"] = "Poets";
}

<h1>Poets</h1>
<p> This page is a work in progress! Come back later! </p>
<nav>
    <!-- fullist of poets-->
    <ul>
        <li><a asp-area="" asp-page="/Index" asp-fragment="Ocean Vuong">Ocean Vuong</a></li>
        <li><a asp-area="" asp-page="/Index" asp-fragment="Layli Long Soldier">Layli Long Soldier</a></li>
        <li><a asp-area="" asp-page="/Index" asp-fragment="Mary Oliver">Mary Oliver</a></li>
        <li><a asp-area="" asp-page="/Index" asp-fragment="Terrance Hayes">Terrance Hayes</a></li>
        <li><a asp-area="" asp-page="/Index" asp-fragment="Shay Alexi">Shay Alexi</a></li>
        <li><a asp-area="" asp-page="/Index" asp-fragment="Marci Calabretta Cancio-Bello">Marci Calabretta Cancio-Bello</a></li>
        <li><a asp-area="" asp-page="/Index" asp-fragment="Martín Espada">Martín Espada</a></li>
    </ul>
</nav>
