@page
@model Your_New_Favorite_Poem.Pages.PoetsModel
@{
    ViewData["Title"] = "Poets";
}
<head>
    <title>Poets</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <p> List of all currently featured poets on the page! </p>
    <nav>
        <!-- fullist of poets-->
        <ul>
            @foreach (var author in Model.PoemsFromDatabase.Where(x => x.IsVerified).Select(x => x.Author).Distinct())
            {

                <li><a asp-area="" asp-page="/Index" asp-fragment=@author>@author</a></li>

            }
        </ul>
    </nav>
</body>
